# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# env files
.env*.local

# vercel
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts

# python leftovers
__pycache__/
*.pyc

# data / logs
logs/
docs/
parent_store.json
